.container {
  max-width: 500px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
}

.counter-box {
  margin-right: 260px;
  width: 120px;
  height: 120px;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-group {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.btn-group button {
  font-size: 1.2rem;
  padding: 10px 15px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.btn-group button:hover {
  transform: scale(1.05);
}
