<div class="container text-center mt-5">
  <h1 class="title text-primary">Counter App</h1>
  <div class="counter-box">
    <h2 class="count">{{ count }}</h2>
  </div>
  <div class="btn-group mt-3">
    <button (click)="handleCounter('minus')" class="btn btn-danger shadow">
      <i class="bi bi-dash-circle"></i> Decrement
    </button>
    <button (click)="handleCounter('reset')" class="btn btn-secondary shadow">
      <i class="bi bi-arrow-counterclockwise"></i> Reset
    </button>
    <button (click)="handleCounter('plus')" class="btn btn-success shadow">
      <i class="bi bi-plus-circle"></i> Increment
    </button>
  </div>
</div>
<br />
<hr />

<h1>Basics of Signals</h1>
<h1>Signal Value: {{ count1() }}</h1>
<h1>Normal Variable: {{ x }}</h1>

<button (click)="updateValues()">Update Both</button>

<br />
<hr />

<h1>types of Signals</h1>
<h1>{{ data() }}</h1>
<button (click)="updateSignal()">Update Data Type</button>

<br />
<hr />

<h1>Computed Signals</h1>

<button (click)="showValue()">Show Value</button>

<br />
<hr />

<h1>Effect Signals</h1>
<h1>{{ userName() }}</h1>

<button (click)="incrementCount()">Update User Name</button>
@if (displayHeading()) {
<h1 style="background-color: green">Heading Appears!</h1>
}

<br />
<hr />

<br />
<h1>Two Way Binding</h1>
<!-- <input [(ngModel)]="name" type="text" placeholder="Enter Name" />
<h1>{{ name }}</h1> -->

<input type="text" (input)="changeName($event)" placeholder="enter name" />
<h1>{{ name }}</h1>

<!--ToDo List Task-->
<br />
<hr />

<h1>To-Do List</h1>
<input type="text" [(ngModel)]="task" placeholder="Enter New Task" />
<button (click)="addTask()">Add Task</button>

@for(task of taskList; track task.id){
<ul class="task-list">
  <li>{{ task.id }}</li>
  <li>{{ task.task }}</li>
  <li><button (click)="deleteTask(task.id)">Delete</button></li>
</ul>
}

<br />
<hr />

<h1>Dynamic Color</h1>
<h1 [style.backgroundColor]="bgColor" [style.fontSize.pt]="fontSize">
  Dynamic Style
</h1>

<!--Directives-->
<br />
<hr />

<h1 *ngIf="show">NgHeading Tag</h1>

<!--Router Start-->

<br />
<hr />

<h1>Basic Routing in angular</h1>
<br />
<app-header></app-header>
<router-outlet></router-outlet>

<br />
<hr />

<h1>Basic of React Forms</h1>
<form action="" method="post">
  <input type="text" placeholder="enter name" [formControl]="name2" />
  <br /><br />
  <input
    type="password"
    placeholder="Enter Password "
    [formControl]="Password"
  />
  <br /><br />
  <button type (click)="displayValue()">Login</button>
  <h3>{{ name2.value }}</h3>
  <h3>{{ Password.value }}</h3>
</form>

<br />
<hr />

<h1>Form Grouping in Reactive Forms and Validation</h1>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <input type="text" placeholder="Enter Name" formControlName="name3" />
  <span class="error" *ngIf="submitted && name3?.invalid">
    *Name is required
  </span>
  <br /><br />

  <input
    type="password"
    placeholder="Enter Password"
    formControlName="password"
  />
  <span class="error" *ngIf="submitted && password?.invalid">
    *Password is required and must be at least 5 characters long
  </span>
  <br /><br />

  <input type="text" placeholder="Enter Email" formControlName="email" />
  <span class="error" *ngIf="submitted && email?.invalid">
    *Email is required and must be less than 50 characters
  </span>
  <br /><br />

  <button type="submit">Submit</button>
</form>

<h1>{{ profileForm.value.name3 }}</h1>
<h1>{{ profileForm.value.password }}</h1>
<h1>{{ profileForm.value.email }}</h1>

<br />
<hr />

<h1>Template Driven Forms</h1>

<form #userForm="ngForm" (ngSubmit)="addDetails(userForm.value)">
  <input type="text" placeholder="enter name" name="name" ngModel />
  <br /><br />
  <input type="password" placeholder="enter password" name="password" ngModel />
  <br /><br />
  <select name="gender">
    <option value="">Select Gender</option>
    <option value="male">Male</option>
    <option value="female">Female</option>
  </select>
  <br /><br />
  <input type="range" min="0" max="18" name="range" ngModel /> <br />
  <button type="submit">Add User</button>
</form>

<!-- Increase Height -->
<div class="container text-center mt-5" style="min-height: 50vh"></div>
